@page "/protected_page"

@using Plugin.Maui.ScreenSecurity;

<h1 style="text-align: center;">Protected page</h1>

<p style="text-align: center;">This page is protected against content exposure.</p>

@code {
    protected override void OnInitialized()
    {
        ScreenSecurity.Default?.ActivateScreenSecurityProtection();
    }
}
